/* Style the header */
.footer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #f44336;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.footer:after {
  content: '';
  display: table;
  clear: both;
}

.footerBtn.active {
  background-color: green;
  color: white;
}

.footerBtn.active:hover {
  background-color: greenyellow;
  color: black;
}

/* Style the "Add" button */
.footerBtn {
  flex: 1;
  padding: 10px;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.footerBtn:hover {
  background-color: #bbb;
}
